<!DOCTYPE html>
<html>
<head>
  <title>vuefire-auth-example</title>
  <script src="https://unpkg.com/vue@2.0.7/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
  <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/vuexfire/dist/vuexfire.js"></script>
</head>
<body>
  <div id="app">
    <h1>Messages</h1>
    <p>uid: {{ user.uid }}</p>
    <p>message path: /messages/{{ user.uid }}</p>
    <p>num messages: {{ messages.length }}</p>
    <input type="text" placeholder="new message title"
           v-bind:value="newMessageTitle"
           v-on:input="newMessageTitle = $event.target.value"/>
    <button v-if="user.uid"
            v-on:click="addMessage(newMessageTitle)">Add Message
    </button>
    <ul>
      <li v-for="message in messages">
        <button v-on:click="removeMessage(message['.key'])">remove</button>
        {{ message }}
      </li>
    </ul>
  </div>
  <script>

    // Initialize Firebase
    firebase.database.enableLogging(false) // toggle on for debug (it's noisy)
    var db = firebase.initializeApp({
      apiKey: "AIzaSyDSdRWUWjx55Yf9_SCaW23_HTGhUrvE6qw",
      authDomain: "vuefire-auth-example.firebaseapp.com",
      databaseURL: "https://vuefire-auth-example.firebaseio.com",
      storageBucket: "vuefire-auth-example.appspot.com",
      messagingSenderId: "925981907667"
    }).database();

    // Setup Vuex Store
    var store = new Vuex.Store({
      state: {
        messages: [],
        user: { uid: '' }
      },
      mutations: Object.assign({},
        VuexFire.mutations,
        {
          addMessage: function ( state, { messagesRef, title } ) {
            // https://firebase.google.com/docs/reference/js/firebase.database.Reference#push
            messagesRef.push({ title: title })
          },
          removeMessage: function ( state, { messagesRef, messageKey } ) {
            // https://firebase.google.com/docs/reference/js/firebase.database.Reference#remove
            messagesRef.child(messageKey).remove()
          }
        }
      ),
      getters: {
        messages: function (state) { return state.messages },
        user: function (state) { return state.user }
      },
      actions: {
        addMessage: function ( context, payload ) {
          context.commit('addMessage', payload)
        },
        removeMessage: function ( context, payload ) {
          context.commit('removeMessage', payload)
        }
      }
    })

    new Vue({
      el: '#app',
      store: store,
      computed: Vuex.mapGetters([
        'messages', 'user'
      ]),
      data() { return { newMessageTitle: '' }},
      beforeCreate: function() {

        // Setup Firebase onAuthStateChanged handler
        //
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onAuthStateChanged
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            this.$store.state.user = user
            // https://github.com/vuejs/vuefire/blob/master/src/vuefire.js#L169
            this.$bindAsArray('messages', db.ref('messages/' + user.uid))
          } else {
            // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInAnonymously
            firebase.auth().signInAnonymously().catch(console.error)
          }
        }.bind(this))

      },

      // Demo add/remove to show it all works
      methods: {

        addMessage: function ( title ) {
          this.$store.dispatch('addMessage', {
            messagesRef: this.$firebaseRefs.messages,
            title: title
          })
          this.newMessageTitle = ''
        },
        removeMessage: function ( messageKey ) {
          this.$store.dispatch('removeMessage', {
            messagesRef: this.$firebaseRefs.messages,
            messageKey
          })
        }
      }

    })
  </script>
</body>
</html>
